table{
    border: 1px solid black;
    border-spacing: 0;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
}
tr, th{
    border: 1px solid black;
    text-align: center;
}
tr,td{
    border: 1px solid black;
    text-align: center;
}